/* common */
body {
  background-color: whitesmoke;
  margin: 0;
  text-align: center;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  text-align: center;
  font-family: 'Ariel', sans-serif;
}
.nav {
  background-color: whitesmoke;
  z-index: 100;
  height: 60px;
  text-align: left;
  color: white;
}
.breadcrumb {
  border-radius: 0;
}
.breadcrumb > li + li:before {
   color: #CCCCCC;
   content: "/ ";
   padding: 0 5px;
}
.textInput {
  margin-bottom: 5px;
  border: none;
  -webkit-box-shadow: 1px 4px 9px 0px rgba(69,68,69,0.84);
  -moz-box-shadow: 1px 4px 9px 0px rgba(69,68,69,0.84);
  box-shadow: 1px 4px 9px 0px rgba(69,68,69,0.84);
}

.col-xs-3 {
  padding-right: 0;
}

.col-xs-9 {
  padding-left: 0;
  padding-bottom: 0;
}

li {
  text-decoration: none;
}

ul {
  text-decoration: none;
}

ol {
  text-align: left;
}

a {
  text-decoration: none;
}

.btn:hover {
  background-color: #0073bb;
}



/* map */
.map {
  position: relative;
  padding: 0;
}
.geocoding-results {
  text-align: left;
}
.autocomplete {
  z-index: 1;
  position: absolute;
  right:500px;
  background-color: white;
  -webkit-box-shadow: 1px 3px 2px 2px rgba(92,90,92,0.6);
  -moz-box-shadow: 1px 3px 2px 2px rgba(92,90,92,0.6);
  box-shadow: 1px 3px 2px 2px rgba(92,90,92,0.6);
}
.addressform {
  padding-top: 50px;
}
.address {
  background-color: white;
}


/* Patient Details */
.patient {
  height: 100%;
}

/* Order */
.order Button {
  margin-top: 20px;
  background-color: #0073bb;
  color: white;
  border: none;
  padding: 10px 50px 10px 50px;
}



/* search and cart */
.cart {
  padding-top: 100px;
  background-color: #0073bb;
  color: white;
  height: 100%;
}
.btn {
  background-color: white;
}
.search {
  background-color: #0073bb;
  color: white;
  height: 100%;
}
.table th {
  text-align: center;
}
.cartTable table {
  padding-left: 500px;
}
.cartTable td {
  padding-right: 100px;
}
.cartTable th {
  padding-right: 100px;
}
.min-cart {
  background-color: #0073bb;
}
.optionButtons {
  border: 1px solid #C1C7CF;
  background-color: #F5F7F8;
  color: #7C8E9A;
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
  margin-top: 25px;
}

/* breadcrumbs */
/** The Magic **/
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}

/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
}



/* search */
.ic-tokeninput {
  display: inline-block;
  /* 2009 */
  display: -webkit-inline-box;
  display: -moz-inline-box;

  /* 2011 */
  display: -moz-inline-flexbox;
  display: -ms-inline-flexbox;
  display: -o-inline-flexbox;

  /* 2012 */
  display: -webkit-inline-flex;
  display: inline-flex;
}
.ic-tokeninput-list {
  display: none;
  position: absolute;
  z-index: 1;
  border: 1px solid #aaa;
  background: #fff;
  top: 100%;
  left: 0;
  padding: 5px 0px;
  max-height: 400px;
  overflow: auto;
  font-size: 12px;
  font-family: sans-serif;
  width: 100%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.ic-tokeninput-is-open .ic-tokeninput-list {
  display: block;
}
.ic-tokeninput-option:focus {
  outline: 0;
  color: white;
  background: hsl(200, 50%, 50%);
}
.ic-tokeninput-input {
  padding-right: 20px;
  width: 100%;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 none;
  outline: 0;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: transparent;
}
.ic-token-label {
  line-height: 20px;
}
.ic-tokeninput-button:active {
  color: #4095BF;
}
.ic-tokeninput-option {
  display: block;
  padding: 2px 16px;
  cursor: default;
}
.ic-tokeninput-selected:before {
  content: '✓';
  position: absolute;
  left: 4px;
}
.flex {
  /* 2009 */
  display: -webkit-box;
  display: -moz-box;
  /*display: box;*/

  /* 2011 */
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -o-flexbox;
  /*display: flexbox;*/

  /* 2012 */
  display: -webkit-flex;
  display: flex;
}
.inline-flex {
  /* 2009 */
  display: -webkit-inline-box;
  display: -moz-inline-box;

  /* 2011 */
  display: -moz-inline-flexbox;
  display: -ms-inline-flexbox;
  display: -o-inline-flexbox;

  /* 2012 */
  display: -webkit-inline-flex;
  display: inline-flex;
}
.ic-tokens {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  list-style: none;
  padding: 6px 6px;
  border: 1px solid #A6A6A6;
  background-color: white;
  border-radius: 1px;
  cursor: text;
  position: relative;
  will-change: transform;
  flex-wrap: wrap;
  min-height: 41px;
  margin: 0;
  color: black;
}
.ic-tokens-disabled {
  border: 1px solid #CCCCCC;
  background-color: #eee;
  color: #eee;
  cursor: default;
  -moz-box-shadow:    inset 0 0 6px #ddd;
  -webkit-box-shadow: inset 0 0 6px #ddd;
  box-shadow:         inset 0 0 6px #ddd;
}

.ic-token {
  background-color: #F5F7F8;
  border: 1px solid #C1C7CF;
  color: #7C8E9A;
  border-radius: 3px;
  padding: 3px 8px;
  margin-right: 6px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.ic-token-delete-button {
  font-size: 1rem;
  margin-right: 5px;
  cursor: pointer;
}

.ic-token-delete-button:hover {
  background-color: #ddd;
}

.ic-tokeninput-button {
  display: none;
  display: inline-block;
  position: absolute;
  cursor: default;
  outline: none;
  top: 2px;
  right: 6px;
  border: none;
  font-size: 8px;
  cursor: default;
}

.ic-tokeninput-loading {
  position: absolute;
  bottom: 9px;
  right: 2px;
  align-items: center;
  padding-right: 6px;
}

.fa.fa-map-marker.suggestion {
  margin-right: 5px;
}

.fa.fa-map-marker.header {
  color: #e53935;
}

@media (max-width: 880px) {
  .autocomplete-container {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .alert {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    -webkit-animation: fadein .75s;
    -moz-animation: fadein .75s;
    -ms-animation: fadein .75s;
    -o-animation: fadein .75s;
    animation: fadein .75s;
  }

  .btn {
    margin-top: 1.5rem;
  }

  .form-group {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    width: 50%;
  }
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.loader,
.loader:before,
.loader:after {
  background: rgba(45, 62, 80, 0.54);
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader {
  color: rgba(45, 62, 80, 0.54);
  text-indent: -9999em;
  margin: 3rem auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
